<div class="card card-stats">
    <div class="card-header card-title text-uppercase text-primary font-weight-bold">
        {{ title }} 
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column">
                    <div class="mb-3">
                        <h6 class="card-title text-uppercase text-muted mb-1">
                            Temperatura atual
                        </h6>
                        <span class="h5 mb-0"> {{ temperature }} ºC </span>
                    </div>
                    <div>
                        <h6 class="card-title text-uppercase text-muted mb-1">
                            Consumo total
                        </h6>
                        <span class="h5"> {{ consumption }} kw/h </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>