<div class="animated fadeIn">
    <div class="row">
        <app-card-stats *ngFor="let sensor of sensorStatus"
            class="col-lg-3 col-md-6 col-sm-12"
            [title]="sensor.title"
            [temperature]="sensor.temperature"
            [consumption]="sensor.consumption"
        ></app-card-stats>
        <app-card-stats *ngFor="let higherConsumption of getSensorHigherConsumption()"
            class="col-lg-3 col-md-6 col-sm-12"
            [title]="'Maior Consumor'"
            [temperature]="higherConsumption.temperature"
            [consumption]="higherConsumption.consumption"
        ></app-card-stats>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <h4 class="card-title mb-0">Tempo do sensores</h4>
                            <div class="small text-muted"></div>
                        </div><!--/.col-->
                    </div><!--/.row-->
                    <div class="chart-wrapper" style="height:300px; margin-top:40px;">
                        <canvas baseChart class="chart"
                            [datasets]="mainChartData"
                            [labels]="mainChartLabels"
                            [options]="mainChartOptions"
                            [colors]="mainChartColours"
                            [legend]="mainChartLegend"
                            [chartType]="mainChartType"
                        ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
